In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 

import numpy as np

from sklearn import metrics

from scipy import stats

In [2]:
#import dataset
dataset_raw = pd.read_csv("./divar_dataset/divar_posts_dataset.csv")
dataset_raw.head()

,Unnamed: 0,archive_by_user,brand,cat1,cat2,cat3,city,created_at,desc,id,image_count,mileage,platform,price,title,type,year
0,0,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,کلاسیک و شیک و استثنایی\nچرم مالزی\nچوب راش\nف...,54761638662241,5,NaN,mobile,3850000,ست مبلمان و نهارخوری ٩ نفره,NaN,NaN
1,1,False,NaN,for-the-home,furniture-and-home-decore,antiques-and-art,Mashhad,Tuesday 07PM,"سلام,یک عدد گلدون نخل سه طبقه ی سالم دارم با پ...",42727631379133,1,NaN,mobile,30000,گلدون مصنوعی نخل,NaN,NaN
2,2,False,NaN,vehicles,cars,heavy,Mashhad,Tuesday 07PM,سریال 43j$NUMبدون شکستگی سه حلقه لاستیک نو یک ...,63194439667302,4,NaN,mobile,-1,لودر کاتر پیلار 950,NaN,NaN
3,3,False,NaN,for-the-home,furniture-and-home-decore,sofa-armchair,Tehran,Tuesday 07PM,مبل راحتی هفت نفره شامل سه نفره یک عدد دونفره ...,19133025491169,4,NaN,mobile,600000,مبل راحتی هفت نفره بامیز جلو مبلی,NaN,NaN
4,4,False,NaN,personal,baby-and-toys,personal-toys,Karaj,Tuesday 08PM,شارژی کنترلی سویچ حمل تا 35 کیلو صندلی برای دو...,58998998335444,2,NaN,mobile,450000,ماشین شارژی,NaN,NaN

In [3]:
dataset = dataset_raw[["cat1","cat2","cat3","price"]]
dataset = dataset.dropna()
dataset["product"] = dataset['cat2'] + "__" + dataset['cat3']
dataset = dataset[["product","price"]]
dataset

                                            product     price
0          furniture-and-home-decore__sofa-armchair   3850000
1       furniture-and-home-decore__antiques-and-art     30000
2                                       cars__heavy        -1
3          furniture-and-home-decore__sofa-armchair    600000
4                      baby-and-toys__personal-toys    450000
...                                             ...       ...
947630       building-and-garden__stove-and-heating    180000
947631                audio-video__camera-camcoders    350000
947632                                  cars__light  17400000
947633     mobile-tablet__mobile-tablet-accessories     40000
947634                 jewelry-and-watches__watches     25000

[775301 rows x 2 columns]

In [4]:
dataset = dataset[dataset['price'] != -1]
dataset

                                            product     price
0          furniture-and-home-decore__sofa-armchair   3850000
1       furniture-and-home-decore__antiques-and-art     30000
3          furniture-and-home-decore__sofa-armchair    600000
4                      baby-and-toys__personal-toys    450000
5          furniture-and-home-decore__sofa-armchair   1000000
...                                             ...       ...
947630       building-and-garden__stove-and-heating    180000
947631                audio-video__camera-camcoders    350000
947632                                  cars__light  17400000
947633     mobile-tablet__mobile-tablet-accessories     40000
947634                 jewelry-and-watches__watches     25000

[650276 rows x 2 columns]

In [5]:
grouped = dataset.groupby("product")

In [6]:
outliers = []
for name,group in grouped:
    outliers.append(group['price'].describe())
    IQR = (group['price'].quantile(0.75) - group['price'].quantile(0.25))
    # find outliers
    higher_outlier = group['price'].quantile(0.75) + (IQR * 1.5)
    lower_outlier = group['price'].quantile(0.25) - (IQR * 1.5)
    df_filtered = group[((group["price"] > higher_outlier) | (group["price"] < lower_outlier))]
    outliers.append(df_filtered)
    
outliers

[count       4651.000000
 mean      170955.109654
 std       173930.834871
 min           20.000000
 25%        50000.000000
 50%       100000.000000
 75%       250000.000000
 max      1000000.000000
 Name: price, dtype: float64,
                      product   price
 1940    animals__accessories  650000
 12559   animals__accessories  700000
 13070   animals__accessories  700000
 22730   animals__accessories  800000
 23923   animals__accessories  650000
 ...                      ...     ...
 918169  animals__accessories  600000
 922129  animals__accessories  850000
 924152  animals__accessories  700000
 925682  animals__accessories  750000
 946638  animals__accessories  700000

 [204 rows x 2 columns],
 count    3.066500e+04
 mean     1.347742e+05
 std      1.456874e+05
 min      1.000000e+00
 25%      4.500000e+04
 50%      8.500000e+04
 75%      1.700000e+05
 max      1.200000e+06
 Name: price, dtype: float64,
                product    price
 669     animals__birds   400000
 720     animals__birds   600000
 1049    animals__birds   600000
 2004    animals__birds  1000000
 2232    animals__birds   600000
 ...                ...      ...
 943933  animals__birds   750000
 945108  animals__birds   700000
 945332  animals__birds   380000
 946375  animals__birds   500000
 946670  animals__birds   550000

 [2287 rows x 2 columns],
 count    3.100000e+02
 mean     5.451073e+05
 std      2.740243e+05
 min      2.500000e+02
 25%      3.500000e+05
 50%      5.500000e+05
 75%      7.500000e+05
 max      1.250000e+06
 Name: price, dtype: float64,
 Empty DataFrame
 Columns: [product, price]
 Index: [],
 count      2757.000000
 mean     115252.904244
 std      116583.216382
 min          35.000000
 25%       25000.000000
 50%       75000.000000
 75%      160000.000000
 max      600000.000000
 Name: price, dtype: float64,
                       product   price
 126     animals__farm-animals  500000
 9641    animals__farm-animals  550000
 9851    animals__farm-animals  400000
 12314   animals__farm-animals  500000
 18446   animals__farm-animals  400000
 ...                       ...     ...
 892027  animals__farm-animals  400000
 899193  animals__farm-animals  500000
 928074  animals__farm-animals  380000
 931339  animals__farm-animals  380000
 945826  animals__farm-animals  500000

 [133 rows x 2 columns],
 count       832.000000
 mean      86126.418269
 std      107958.651580
 min         100.000000
 25%       17750.000000
 50%       50000.000000
 75%      110000.000000
 max      600000.000000
 Name: price, dtype: float64,
               product   price
 630     animals__fish  250000
 5805    animals__fish  250000
 26652   animals__fish  320000
 44250   animals__fish  400000
 53490   animals__fish  450000
 ...               ...     ...
 842154  animals__fish  400000
 858131  animals__fish  250000
 878826  animals__fish  250000
 920228  animals__fish  260000
 935279  animals__fish  350000

 [79 rows x 2 columns],
 count       459.000000
 mean      81777.886710
 std       68479.084475
 min          90.000000
 25%       30000.000000
 50%       60000.000000
 75%      100000.000000
 max      300000.000000
 Name: price, dtype: float64,
                          product   price
 53166   animals__rodents-rabbits  250000
 121953  animals__rodents-rabbits  250000
 148308  animals__rodents-rabbits  250000
 197297  animals__rodents-rabbits  220000
 216335  animals__rodents-rabbits  300000
 232809  animals__rodents-rabbits  300000
 258065  animals__rodents-rabbits  300000
 260408  animals__rodents-rabbits  250000
 375175  animals__rodents-rabbits  300000
 409979  animals__rodents-rabbits  300000
 470267  animals__rodents-rabbits  300000
 482889  animals__rodents-rabbits  230000
 484885  animals__rodents-rabbits  250000
 494839  animals__rodents-rabbits  300000
 505182  animals__rodents-rabbits  250000
 547085  animals__rodents-rabbits  300000
 667848  animals__rodents-rabbits  250000
 719885  animals__rodents-rabbits  245000
 776295  animals__rodents-rabbits  300000
 821225  animals__rodents-rabbits  300000
 900178  animals__rodents-rabbits  220000
 901430  animals__rodents-rabbits  300000
 924268  animals__rodents-rabbits  220000,
 count    4.382000e+03
 mean     5.802287e+05
 std      7.090254e+05
 min      8.000000e+01
 25%      1.500000e+05
 50%      3.000000e+05
 75%      7.000000e+05
 max      4.000000e+06
 Name: price, dtype: float64,
                               product    price
 672     audio-video__camera-camcoders  3500000
 3438    audio-video__camera-camcoders  1600000
 3473    audio-video__camera-camcoders  1800000
 7354    audio-video__camera-camcoders  1600000
 8297    audio-video__camera-camcoders  2700000
 ...                               ...      ...
 937015  audio-video__camera-camcoders  1800000
 937891  audio-video__camera-camcoders  1750000
 938163  audio-video__camera-camcoders  1550000
 941968  audio-video__camera-camcoders  2800000
 945296  audio-video__camera-camcoders  3000000

 [419 rows x 2 columns],
 count       780.000000
 mean     172695.973077
 std      176260.253936
 min          65.000000
 25%       50000.000000
 50%      100000.000000
 75%      220000.000000
 max      850000.000000
 Name: price, dtype: float64,
                         product   price
 815     audio-video__mp3-player  500000
 30326   audio-video__mp3-player  650000
 37603   audio-video__mp3-player  500000
 45912   audio-video__mp3-player  500000
 47753   audio-video__mp3-player  850000
 ...                         ...     ...
 842799  audio-video__mp3-player  480000
 845739  audio-video__mp3-player  500000
 883575  audio-video__mp3-player  700000
 889649  audio-video__mp3-player  490000
 931997  audio-video__mp3-player  650000

 [72 rows x 2 columns],
 count    4.800000e+03
 mean     3.411363e+05
 std      3.689000e+05
 min      6.000000e+01
 25%      1.000000e+05
 50%      2.000000e+05
 75%      4.500000e+05
 max      2.350000e+06
 Name: price, dtype: float64,
                              product    price
 753     audio-video__stereo-surround  1750000
 4838    audio-video__stereo-surround  1200000
 6614    audio-video__stereo-surround  1250000
 9896    audio-video__stereo-surround  1800000
 28527   audio-video__stereo-surround  1200000
 ...                              ...      ...
 932000  audio-video__stereo-surround  2200000
 933952  audio-video__stereo-surround  1000000
 939065  audio-video__stereo-surround  1700000
 945403  audio-video__stereo-surround  1500000
 947102  audio-video__stereo-surround  1600000

 [332 rows x 2 columns],
 count    1.382400e+04
 mean     4.363030e+05
 std      4.603338e+05
 min      1.000000e+00
 25%      1.200000e+05
 50%      2.400000e+05
 75%      6.000000e+05
 max      2.400000e+06
 Name: price, dtype: float64,
                           product    price
 527     audio-video__tv-projector  1500000
 2621    audio-video__tv-projector  1500000
 2989    audio-video__tv-projector  2000000
 4778    audio-video__tv-projector  1350000
 5162    audio-video__tv-projector  1450000
 ...                           ...      ...
 941880  audio-video__tv-projector  1350000
 942099  audio-video__tv-projector  2000000
 944690  audio-video__tv-projector  1350000
 945467  audio-video__tv-projector  1700000
 945776  audio-video__tv-projector  1500000

 [1008 rows x 2 columns],
 count       729.000000
 mean     101032.235940
 std       70477.165779
 min        4000.000000
 25%       50000.000000
 50%       80000.000000
 75%      120000.000000
 max      400000.000000
 Name: price, dtype: float64,
                              product   price
 673     audio-video__video-dvdplayer  300000
 13030   audio-video__video-dvdplayer  250000
 28850   audio-video__video-dvdplayer  320000
 44083   audio-video__video-dvdplayer  250000
 69058   audio-video__video-dvdplayer  270000
 82547   audio-video__video-dvdplayer  400000
 82717   audio-video__video-dvdplayer  240000
 94413   audio-video__video-dvdplayer  230000
 110395  audio-video__video-dvdplayer  350000
 116156  audio-video__video-dvdplayer  400000
 126227  audio-video__video-dvdplayer  300000
 141310  audio-video__video-dvdplayer  250000
 176590  audio-video__video-dvdplayer  250000
 182576  audio-video__video-dvdplayer  250000
 234524  audio-video__video-dvdplayer  400000
 236202  audio-video__video-dvdplayer  300000
 252538  audio-video__video-dvdplayer  350000
 262917  audio-video__video-dvdplayer  245000
 272587  audio-video__video-dvdplayer  250000
 282311  audio-video__video-dvdplayer  300000
 313721  audio-video__video-dvdplayer  250000
 315967  audio-video__video-dvdplayer  260000
 335611  audio-video__video-dvdplayer  250000
 353125  audio-video__video-dvdplayer  350000
 375867  audio-video__video-dvdplayer  370000
 377791  audio-video__video-dvdplayer  400000
 388582  audio-video__video-dvdplayer  300000
 397259  audio-video__video-dvdplayer  260000
 405327  audio-video__video-dvdplayer  300000
 428831  audio-video__video-dvdplayer  350000
 481671  audio-video__video-dvdplayer  350000
 496042  audio-video__video-dvdplayer  300000
 531110  audio-video__video-dvdplayer  270000
 575070  audio-video__video-dvdplayer  300000
 585756  audio-video__video-dvdplayer  350000
 595238  audio-video__video-dvdplayer  300000
 600681  audio-video__video-dvdplayer  230000
 660991  audio-video__video-dvdplayer  300000
 663776  audio-video__video-dvdplayer  270000
 666062  audio-video__video-dvdplayer  350000
 669240  audio-video__video-dvdplayer  300000
 687282  audio-video__video-dvdplayer  300000
 719529  audio-video__video-dvdplayer  300000
 752423  audio-video__video-dvdplayer  250000
 767066  audio-video__video-dvdplayer  300000
 818320  audio-video__video-dvdplayer  250000
 849147  audio-video__video-dvdplayer  250000
 876966  audio-video__video-dvdplayer  250000
 888633  audio-video__video-dvdplayer  280000
 913132  audio-video__video-dvdplayer  250000,
 count       999.000000
 mean     212301.622623
 std      140380.740023
 min         120.000000
 25%      100000.000000
 50%      180000.000000
 75%      300000.000000
 max      750000.000000
 Name: price, dtype: float64,
                               product   price
 16762   baby-and-toys__child-car-seat  650000
 21520   baby-and-toys__child-car-seat  650000
 22628   baby-and-toys__child-car-seat  750000
 81584   baby-and-toys__child-car-seat  700000
 96965   baby-and-toys__child-car-seat  700000
 171381  baby-and-toys__child-car-seat  750000
 171420  baby-and-toys__child-car-seat  650000
 280427  baby-and-toys__child-car-seat  650000
 341907  baby-and-toys__child-car-seat  750000
 367049  baby-and-toys__child-car-seat  680000
 384068  baby-and-toys__child-car-seat  650000
 427073  baby-and-toys__child-car-seat  700000
 538942  baby-and-toys__child-car-seat  750000
 684395  baby-and-toys__child-car-seat  700000
 739917  baby-and-toys__child-car-seat  750000
 780644  baby-and-toys__child-car-seat  690000
 943588  baby-and-toys__child-car-seat  700000,
 count       9536.000000
 mean      172311.030411
 std       164356.309090
 min           15.000000
 25%        50000.000000
 50%       115000.000000
 75%       250000.000000
 max      1000000.000000
 Name: price, dtype: float64,
                                    product   price
 1790    baby-and-toys__childrens-furniture  600000
 2070    baby-and-toys__childrens-furniture  600000
 10430   baby-and-toys__childrens-furniture  700000
 11835   baby-and-toys__childrens-furniture  750000
 14284   baby-and-toys__childrens-furniture  750000
 ...                                    ...     ...
 935393  baby-and-toys__childrens-furniture  600000
 938362  baby-and-toys__childrens-furniture  600000
 938658  baby-and-toys__childrens-furniture  800000
 940381  baby-and-toys__childrens-furniture  700000
 944777  baby-and-toys__childrens-furniture  580000

 [339 rows x 2 columns],
 count      4415.000000
 mean     129286.792752
 std      142888.529317
 min          10.000000
 25%       27000.000000
 50%       60000.000000
 75%      200000.000000
 max      600000.000000
 Name: price, dtype: float64,
                              product   price
 1550    baby-and-toys__personal-toys  500000
 2812    baby-and-toys__personal-toys  500000
 24935   baby-and-toys__personal-toys  500000
 27418   baby-and-toys__personal-toys  500000
 32415   baby-and-toys__personal-toys  600000
 ...                              ...     ...
 931200  baby-and-toys__personal-toys  500000
 931432  baby-and-toys__personal-toys  550000
 932096  baby-and-toys__personal-toys  470000
 934380  baby-and-toys__personal-toys  470000
 940356  baby-and-toys__personal-toys  550000

 [176 rows x 2 columns],
 count    3.228000e+03
 mean     2.266469e+05
 std      2.213483e+05
 min      2.500000e+01
 25%      7.000000e+04
 50%      1.500000e+05
 75%      3.000000e+05
 max      1.295000e+06
 Name: price, dtype: float64,
                                          product    price
 2657    baby-and-toys__strollers-and-accessories   700000
 5873    baby-and-toys__strollers-and-accessories   900000
 7423    baby-and-toys__strollers-and-accessories  1200000
 12602   baby-and-toys__strollers-and-accessories  1295000
 24063   baby-and-toys__strollers-and-accessories   800000
 ...                                          ...      ...
 929963  baby-and-toys__strollers-and-accessories   950000
 938080  baby-and-toys__strollers-and-accessories   800000
 938173  baby-and-toys__strollers-and-accessories  1100000
 944428  baby-and-toys__strollers-and-accessories   750000
 946940  baby-and-toys__strollers-and-accessories   650000

 [213 rows x 2 columns],
 count      1912.000000
 mean      35743.728556
 std       42220.963217
 min           5.000000
 25%       10000.000000
 50%       20000.000000
 75%       45000.000000
 max      250000.000000
 Name: price, dtype: float64,
                                      product   price
 1078    book-student-literature__educational  100000
 13680   book-student-literature__educational  180000
 30299   book-student-literature__educational  100000
 48431   book-student-literature__educational  145000
 57973   book-student-literature__educational  100000
 ...                                      ...     ...
 943353  book-student-literature__educational  220000
 943637  book-student-literature__educational  100000
 944219  book-student-literature__educational  100000
 945388  book-student-literature__educational  100000
 945743  book-student-literature__educational  125000

 [202 rows x 2 columns],
 count       965.000000
 mean     126978.293264
 std       99704.824860
 min         250.000000
 25%       50000.000000
 50%      120000.000000
 75%      165000.000000
 max      700000.000000
 Name: price, dtype: float64,
                                        product   price
 365     building-and-garden__bathroom-wc-sauna  700000
 25413   building-and-garden__bathroom-wc-sauna  360000
 48603   building-and-garden__bathroom-wc-sauna  600000
 51061   building-and-garden__bathroom-wc-sauna  600000
 69076   building-and-garden__bathroom-wc-sauna  400000
 86657   building-and-garden__bathroom-wc-sauna  600000
 102262  building-and-garden__bathroom-wc-sauna  350000
 109054  building-and-garden__bathroom-wc-sauna  450000
 116024  building-and-garden__bathroom-wc-sauna  380000
 173177  building-and-garden__bathroom-wc-sauna  500000
 218776  building-and-garden__bathroom-wc-sauna  650000
 226306  building-and-garden__bathroom-wc-sauna  700000
 239599  building-and-garden__bathroom-wc-sauna  500000
 303284  building-and-garden__bathroom-wc-sauna  600000
 307217  building-and-garden__bathroom-wc-sauna  370000
 334448  building-and-garden__bathroom-wc-sauna  360000
 355073  building-and-garden__bathroom-wc-sauna  400000
 376416  building-and-garden__bathroom-wc-sauna  400000
 399951  building-and-garden__bathroom-wc-sauna  500000
 400120  building-and-garden__bathroom-wc-sauna  400000
 403269  building-and-garden__bathroom-wc-sauna  500000
 414658  building-and-garden__bathroom-wc-sauna  520000
 534324  building-and-garden__bathroom-wc-sauna  400000
 560673  building-and-garden__bathroom-wc-sauna  375000
 573381  building-and-garden__bathroom-wc-sauna  500000
 585954  building-and-garden__bathroom-wc-sauna  380000
 601490  building-and-garden__bathroom-wc-sauna  575000
 611193  building-and-garden__bathroom-wc-sauna  400000
 627216  building-and-garden__bathroom-wc-sauna  400000
 651126  building-and-garden__bathroom-wc-sauna  390000
 685254  building-and-garden__bathroom-wc-sauna  700000
 728637  building-and-garden__bathroom-wc-sauna  345000
 782816  building-and-garden__bathroom-wc-sauna  550000
 826837  building-and-garden__bathroom-wc-sauna  370000
 834093  building-and-garden__bathroom-wc-sauna  450000
 843164  building-and-garden__bathroom-wc-sauna  395000
 849271  building-and-garden__bathroom-wc-sauna  420000
 922496  building-and-garden__bathroom-wc-sauna  360000,
 count    8.750000e+02
 mean     1.662500e+05
 std      1.922442e+05
 min      2.800000e+01
 25%      3.500000e+04
 50%      1.000000e+05
 75%      2.200000e+05
 max      1.100000e+06
 Name: price, dtype: float64,
                                       product   price
 14927   building-and-garden__garden-and-patio  550000
 25133   building-and-garden__garden-and-patio  800000
 37119   building-and-garden__garden-and-patio  500000
 41170   building-and-garden__garden-and-patio  500000
 75257   building-and-garden__garden-and-patio  750000
 ...                                       ...     ...
 887908  building-and-garden__garden-and-patio  500000
 893499  building-and-garden__garden-and-patio  550000
 931096  building-and-garden__garden-and-patio  500000
 932261  building-and-garden__garden-and-patio  700000
 939701  building-and-garden__garden-and-patio  600000

 [79 rows x 2 columns],
 count    3.116000e+03
 mean     4.131980e+05
 std      4.456614e+05
 min      4.000000e+01
 25%      1.100000e+05
 50%      2.500000e+05
 75%      5.000000e+05
 max      2.600000e+06
 Name: price, dtype: float64,
                              product    price
 3707    building-and-garden__kitchen  1500000
 3986    building-and-garden__kitchen  1800000
 5920    building-and-garden__kitchen  1500000
 11587   building-and-garden__kitchen  1900000
 23273   building-and-garden__kitchen  2000000
 ...                              ...      ...
 932232  building-and-garden__kitchen  1700000
 935892  building-and-garden__kitchen  2000000
 935937  building-and-garden__kitchen  1500000
 942961  building-and-garden__kitchen  2000000
 946150  building-and-garden__kitchen  1800000

 [286 rows x 2 columns],
 count    9.300000e+03
 mean     3.004173e+05
 std      3.216478e+05
 min      6.000000e+01
 25%      1.300000e+05
 50%      2.000000e+05
 75%      3.000000e+05
 max      2.100000e+06
 Name: price, dtype: float64,
                                        product    price
 202     building-and-garden__stove-and-heating  1000000
 667     building-and-garden__stove-and-heating  1700000
 935     building-and-garden__stove-and-heating   900000
 1173    building-and-garden__stove-and-heating   700000
 1243    building-and-garden__stove-and-heating   900000
 ...                                        ...      ...
 943143  building-and-garden__stove-and-heating   900000
 944912  building-and-garden__stove-and-heating  1800000
 945509  building-and-garden__stove-and-heating   930000
 945728  building-and-garden__stove-and-heating  1000000
 947237  building-and-garden__stove-and-heating  1000000

 [1178 rows x 2 columns],
 count    6.255000e+03
 mean     7.657491e+07
 std      6.041088e+07
 min      1.000000e+00
 25%      3.000000e+07
 50%      6.000000e+07
 75%      1.050000e+08
 max      2.750000e+08
 Name: price, dtype: float64,
             product      price
 71      cars__heavy  222000000
 728     cars__heavy  260000000
 1099    cars__heavy  220000000
 1759    cars__heavy  240000000
 4098    cars__heavy  240000000
 ...             ...        ...
 929006  cars__heavy  250000000

In [7]:
outliers = []
for name,group in grouped:
    outliers.append(group['price'].describe())
    q_low = group["price"].quantile(0.01)
    q_hi  = group["price"].quantile(0.99)

    df_filtered = group[~((group["price"] < q_hi) & (group["price"] > q_low))]
    outliers.append(df_filtered)
outliers

[count       4651.000000
 mean      170955.109654
 std       173930.834871
 min           20.000000
 25%        50000.000000
 50%       100000.000000
 75%       250000.000000
 max      1000000.000000
 Name: price, dtype: float64,
                      product   price
 6480    animals__accessories     120
 10862   animals__accessories    3000
 19941   animals__accessories    2000
 22730   animals__accessories  800000
 27833   animals__accessories    2000
 ...                      ...     ...
 882418  animals__accessories     200
 911533  animals__accessories  800000
 914439  animals__accessories  800000
 915834  animals__accessories     120
 922129  animals__accessories  850000

 [110 rows x 2 columns],
 count    3.066500e+04
 mean     1.347742e+05
 std      1.456874e+05
 min      1.000000e+00
 25%      4.500000e+04
 50%      8.500000e+04
 75%      1.700000e+05
 max      1.200000e+06
 Name: price, dtype: float64,
                product    price
 2004    animals__birds  1000000
 2341    animals__birds      650
 2921    animals__birds  1200000
 6052    animals__birds   750000
 6316    animals__birds   800000
 ...                ...      ...
 942852  animals__birds   850000
 943933  animals__birds   750000
 944283  animals__birds     6500
 945108  animals__birds   700000
 947581  animals__birds     8000

 [677 rows x 2 columns],
 count    3.100000e+02
 mean     5.451073e+05
 std      2.740243e+05
 min      2.500000e+02
 25%      3.500000e+05
 50%      5.500000e+05
 75%      7.500000e+05
 max      1.250000e+06
 Name: price, dtype: float64,
              product    price
 9617    animals__cat  1100000
 56714   animals__cat  1100000
 192309  animals__cat  1250000
 197371  animals__cat  1200000
 216135  animals__cat  1200000
 419309  animals__cat      250
 460660  animals__cat      800
 666532  animals__cat      550
 726751  animals__cat  1100000
 905095  animals__cat      800,
 count      2757.000000
 mean     115252.904244
 std      116583.216382
 min          35.000000
 25%       25000.000000
 50%       75000.000000
 75%      160000.000000
 max      600000.000000
 Name: price, dtype: float64,
                       product   price
 126     animals__farm-animals  500000
 9641    animals__farm-animals  550000
 12314   animals__farm-animals  500000
 39036   animals__farm-animals  500000
 40822   animals__farm-animals    2000
 ...                       ...     ...
 913425  animals__farm-animals    2000
 923798  animals__farm-animals      50
 923822  animals__farm-animals     100
 936252  animals__farm-animals     200
 945826  animals__farm-animals  500000

 [81 rows x 2 columns],
 count       832.000000
 mean      86126.418269
 std      107958.651580
 min         100.000000
 25%       17750.000000
 50%       50000.000000
 75%      110000.000000
 max      600000.000000
 Name: price, dtype: float64,
               product   price
 30068   animals__fish     600
 54555   animals__fish     120
 67450   animals__fish  500000
 73168   animals__fish     600
 92600   animals__fish  550000
 113214  animals__fish  500000
 168346  animals__fish     300
 188119  animals__fish  600000
 206771  animals__fish     800
 209165  animals__fish  500000
 235097  animals__fish     800
 314711  animals__fish  500000
 383179  animals__fish  500000
 391672  animals__fish  500000
 432523  animals__fish     100
 459739  animals__fish  600000
 548148  animals__fish     100
 585790  animals__fish  500000
 681170  animals__fish     800
 719251  animals__fish  550000
 726933  animals__fish  550000
 729362  animals__fish     190
 755813  animals__fish     220
 785740  animals__fish  600000,
 count       459.000000
 mean      81777.886710
 std       68479.084475
 min          90.000000
 25%       30000.000000
 50%       60000.000000
 75%      100000.000000
 max      300000.000000
 Name: price, dtype: float64,
                          product   price
 216335  animals__rodents-rabbits  300000
 232809  animals__rodents-rabbits  300000
 258065  animals__rodents-rabbits  300000
 289048  animals__rodents-rabbits     140
 375175  animals__rodents-rabbits  300000
 409979  animals__rodents-rabbits  300000
 426278  animals__rodents-rabbits     140
 470267  animals__rodents-rabbits  300000
 494839  animals__rodents-rabbits  300000
 547085  animals__rodents-rabbits  300000
 715895  animals__rodents-rabbits     120
 776295  animals__rodents-rabbits  300000
 821225  animals__rodents-rabbits  300000
 826184  animals__rodents-rabbits      90
 845444  animals__rodents-rabbits     100
 901430  animals__rodents-rabbits  300000,
 count    4.382000e+03
 mean     5.802287e+05
 std      7.090254e+05
 min      8.000000e+01
 25%      1.500000e+05
 50%      3.000000e+05
 75%      7.000000e+05
 max      4.000000e+06
 Name: price, dtype: float64,
                               product    price
 98      audio-video__camera-camcoders      320
 672     audio-video__camera-camcoders  3500000
 23147   audio-video__camera-camcoders     2100
 28112   audio-video__camera-camcoders    10000
 29689   audio-video__camera-camcoders  4000000
 ...                               ...      ...
 856413  audio-video__camera-camcoders      500
 861645  audio-video__camera-camcoders  3600000
 875569  audio-video__camera-camcoders       80
 898206  audio-video__camera-camcoders  3800000
 906794  audio-video__camera-camcoders    15000

 [94 rows x 2 columns],
 count       780.000000
 mean     172695.973077
 std      176260.253936
 min          65.000000
 25%       50000.000000
 50%      100000.000000
 75%      220000.000000
 max      850000.000000
 Name: price, dtype: float64,
                         product   price
 45867   audio-video__mp3-player    8000
 47753   audio-video__mp3-player  850000
 83397   audio-video__mp3-player  800000
 93085   audio-video__mp3-player  850000
 105470  audio-video__mp3-player  840000
 114655  audio-video__mp3-player   10000
 217649  audio-video__mp3-player   10000
 330833  audio-video__mp3-player   10000
 506756  audio-video__mp3-player  800000
 510729  audio-video__mp3-player     200
 557092  audio-video__mp3-player     400
 646099  audio-video__mp3-player  850000
 677146  audio-video__mp3-player  850000
 699965  audio-video__mp3-player   10000
 718968  audio-video__mp3-player      65
 764197  audio-video__mp3-player  800000
 854816  audio-video__mp3-player    6000
 901400  audio-video__mp3-player   10000
 938850  audio-video__mp3-player     250,
 count    4.800000e+03
 mean     3.411363e+05
 std      3.689000e+05
 min      6.000000e+01
 25%      1.000000e+05
 50%      2.000000e+05
 75%      4.500000e+05
 max      2.350000e+06
 Name: price, dtype: float64,
                              product    price
 5266    audio-video__stereo-surround    15000
 29617   audio-video__stereo-surround    10000
 38237   audio-video__stereo-surround      600
 42417   audio-video__stereo-surround  2000000
 44352   audio-video__stereo-surround     8000
 ...                              ...      ...
 905193  audio-video__stereo-surround  1900000
 910571  audio-video__stereo-surround  2000000
 926858  audio-video__stereo-surround    10000
 932000  audio-video__stereo-surround  2200000
 941840  audio-video__stereo-surround     5000

 [97 rows x 2 columns],
 count    1.382400e+04
 mean     4.363030e+05
 std      4.603338e+05
 min      1.000000e+00
 25%      1.200000e+05
 50%      2.400000e+05
 75%      6.000000e+05
 max      2.400000e+06
 Name: price, dtype: float64,
                           product    price
 1060    audio-video__tv-projector       40
 1523    audio-video__tv-projector    12000
 2989    audio-video__tv-projector  2000000
 6249    audio-video__tv-projector    20000
 6615    audio-video__tv-projector    25000
 ...                           ...      ...
 939810  audio-video__tv-projector  2000000
 941570  audio-video__tv-projector      150
 942099  audio-video__tv-projector  2000000
 944315  audio-video__tv-projector       80
 946910  audio-video__tv-projector    10000

 [299 rows x 2 columns],
 count       729.000000
 mean     101032.235940
 std       70477.165779
 min        4000.000000
 25%       50000.000000
 50%       80000.000000
 75%      120000.000000
 max      400000.000000
 Name: price, dtype: float64,
                              product   price
 6166    audio-video__video-dvdplayer   15000
 82481   audio-video__video-dvdplayer   10000
 82547   audio-video__video-dvdplayer  400000
 110395  audio-video__video-dvdplayer  350000
 116156  audio-video__video-dvdplayer  400000
 122678  audio-video__video-dvdplayer   10000
 234524  audio-video__video-dvdplayer  400000
 252538  audio-video__video-dvdplayer  350000
 278338  audio-video__video-dvdplayer   15000
 322943  audio-video__video-dvdplayer   10000
 353125  audio-video__video-dvdplayer  350000
 375867  audio-video__video-dvdplayer  370000
 377791  audio-video__video-dvdplayer  400000
 380157  audio-video__video-dvdplayer   10000
 428831  audio-video__video-dvdplayer  350000
 481671  audio-video__video-dvdplayer  350000
 501542  audio-video__video-dvdplayer    4000
 585756  audio-video__video-dvdplayer  350000
 633872  audio-video__video-dvdplayer   15000
 666062  audio-video__video-dvdplayer  350000
 728746  audio-video__video-dvdplayer   10000
 859118  audio-video__video-dvdplayer   10000
 898300  audio-video__video-dvdplayer   15000,
 count       999.000000
 mean     212301.622623
 std      140380.740023
 min         120.000000
 25%      100000.000000
 50%      180000.000000
 75%      300000.000000
 max      750000.000000
 Name: price, dtype: float64,
                               product   price
 22628   baby-and-toys__child-car-seat  750000
 81584   baby-and-toys__child-car-seat  700000
 86380   baby-and-toys__child-car-seat   12000
 96965   baby-and-toys__child-car-seat  700000
 99238   baby-and-toys__child-car-seat   20000
 107993  baby-and-toys__child-car-seat   15000
 171381  baby-and-toys__child-car-seat  750000
 252914  baby-and-toys__child-car-seat   15000
 341907  baby-and-toys__child-car-seat  750000
 422447  baby-and-toys__child-car-seat   20000
 427073  baby-and-toys__child-car-seat  700000
 442326  baby-and-toys__child-car-seat     200
 538942  baby-and-toys__child-car-seat  750000
 632789  baby-and-toys__child-car-seat     120
 644007  baby-and-toys__child-car-seat   15000
 678910  baby-and-toys__child-car-seat   25000
 684395  baby-and-toys__child-car-seat  700000
 739917  baby-and-toys__child-car-seat  750000
 874453  baby-and-toys__child-car-seat   20000
 943588  baby-and-toys__child-car-seat  700000,
 count       9536.000000
 mean      172311.030411
 std       164356.309090
 min           15.000000
 25%        50000.000000
 50%       115000.000000
 75%       250000.000000
 max      1000000.000000
 Name: price, dtype: float64,
                                    product   price
 11835   baby-and-toys__childrens-furniture  750000
 14284   baby-and-toys__childrens-furniture  750000
 15673   baby-and-toys__childrens-furniture  750000
 20111   baby-and-toys__childrens-furniture      40
 21706   baby-and-toys__childrens-furniture    5000
 ...                                    ...     ...
 924946  baby-and-toys__childrens-furniture  800000
 938658  baby-and-toys__childrens-furniture  800000
 942316  baby-and-toys__childrens-furniture     120
 943443  baby-and-toys__childrens-furniture     150
 943456  baby-and-toys__childrens-furniture      15

 [215 rows x 2 columns],
 count      4415.000000
 mean     129286.792752
 std      142888.529317
 min          10.000000
 25%       27000.000000
 50%       60000.000000
 75%      200000.000000
 max      600000.000000
 Name: price, dtype: float64,
                              product   price
 32415   baby-and-toys__personal-toys  600000
 34829   baby-and-toys__personal-toys    4000
 38394   baby-and-toys__personal-toys  550000
 40917   baby-and-toys__personal-toys    2000
 50037   baby-and-toys__personal-toys  550000
 ...                              ...     ...
 921488  baby-and-toys__personal-toys  600000
 925989  baby-and-toys__personal-toys  550000
 931074  baby-and-toys__personal-toys  600000
 931432  baby-and-toys__personal-toys  550000
 940356  baby-and-toys__personal-toys  550000

 [119 rows x 2 columns],
 count    3.228000e+03
 mean     2.266469e+05
 std      2.213483e+05
 min      2.500000e+01
 25%      7.000000e+04
 50%      1.500000e+05
 75%      3.000000e+05
 max      1.295000e+06
 Name: price, dtype: float64,
                                          product    price
 1887    baby-and-toys__strollers-and-accessories    10000
 3982    baby-and-toys__strollers-and-accessories    20000
 7423    baby-and-toys__strollers-and-accessories  1200000
 12602   baby-and-toys__strollers-and-accessories  1295000
 15077   baby-and-toys__strollers-and-accessories    20000
 ...                                          ...      ...
 905657  baby-and-toys__strollers-and-accessories      120
 907368  baby-and-toys__strollers-and-accessories  1200000
 916223  baby-and-toys__strollers-and-accessories  1200000
 928153  baby-and-toys__strollers-and-accessories    15000
 938173  baby-and-toys__strollers-and-accessories  1100000

 [105 rows x 2 columns],
 count      1912.000000
 mean      35743.728556
 std       42220.963217
 min           5.000000
 25%       10000.000000
 50%       20000.000000
 75%       45000.000000
 max      250000.000000
 Name: price, dtype: float64,
                                      product   price
 40567   book-student-literature__educational    2000
 55858   book-student-literature__educational    2000
 59835   book-student-literature__educational  200000
 62742   book-student-literature__educational    2000
 64958   book-student-literature__educational    2000
 ...                                      ...     ...
 846327  book-student-literature__educational  200000
 886886  book-student-literature__educational    2000
 904013  book-student-literature__educational  250000
 935538  book-student-literature__educational       5
 943353  book-student-literature__educational  220000

 [79 rows x 2 columns],
 count       965.000000
 mean     126978.293264
 std       99704.824860
 min         250.000000
 25%       50000.000000
 50%      120000.000000
 75%      165000.000000
 max      700000.000000
 Name: price, dtype: float64,
                                        product   price
 365     building-and-garden__bathroom-wc-sauna  700000
 48603   building-and-garden__bathroom-wc-sauna  600000
 51061   building-and-garden__bathroom-wc-sauna  600000
 86657   building-and-garden__bathroom-wc-sauna  600000
 91381   building-and-garden__bathroom-wc-sauna   10000
 139408  building-and-garden__bathroom-wc-sauna     250
 218776  building-and-garden__bathroom-wc-sauna  650000
 226306  building-and-garden__bathroom-wc-sauna  700000
 237841  building-and-garden__bathroom-wc-sauna     500
 250537  building-and-garden__bathroom-wc-sauna    2500
 251024  building-and-garden__bathroom-wc-sauna   10000
 303284  building-and-garden__bathroom-wc-sauna  600000
 342926  building-and-garden__bathroom-wc-sauna    6000
 377147  building-and-garden__bathroom-wc-sauna   10000
 428596  building-and-garden__bathroom-wc-sauna   10000
 601490  building-and-garden__bathroom-wc-sauna  575000
 605421  building-and-garden__bathroom-wc-sauna    8000
 617670  building-and-garden__bathroom-wc-sauna   10000
 656416  building-and-garden__bathroom-wc-sauna   10000
 685254  building-and-garden__bathroom-wc-sauna  700000
 688642  building-and-garden__bathroom-wc-sauna   10000
 697790  building-and-garden__bathroom-wc-sauna   10000
 765322  building-and-garden__bathroom-wc-sauna   10000
 782816  building-and-garden__bathroom-wc-sauna  550000
 793586  building-and-garden__bathroom-wc-sauna   10000
 804551  building-and-garden__bathroom-wc-sauna    6503
 853596  building-and-garden__bathroom-wc-sauna    7000
 856934  building-and-garden__bathroom-wc-sauna   10000
 885730  building-and-garden__bathroom-wc-sauna    8500,
 count    8.750000e+02
 mean     1.662500e+05
 std      1.922442e+05
 min      2.800000e+01
 25%      3.500000e+04
 50%      1.000000e+05
 75%      2.200000e+05
 max      1.100000e+06
 Name: price, dtype: float64,
                                       product    price
 130100  building-and-garden__garden-and-patio  1000000
 154654  building-and-garden__garden-and-patio      220
 216493  building-and-garden__garden-and-patio      300
 233256  building-and-garden__garden-and-patio  1000000
 330631  building-and-garden__garden-and-patio     2000
 349550  building-and-garden__garden-and-patio       28
 361490  building-and-garden__garden-and-patio      100
 398970  building-and-garden__garden-and-patio  1000000
 448657  building-and-garden__garden-and-patio     2000
 498598  building-and-garden__garden-and-patio      100
 572196  building-and-garden__garden-and-patio  1000000
 641657  building-and-garden__garden-and-patio      350
 650955  building-and-garden__garden-and-patio  1000000
 687057  building-and-garden__garden-and-patio   900000
 698930  building-and-garden__garden-and-patio     2000
 711486  building-and-garden__garden-and-patio     2000
 739110  building-and-garden__garden-and-patio  1100000
 840084  building-and-garden__garden-and-patio  1000000
 846121  building-and-garden__garden-and-patio  1000000
 850354  building-and-garden__garden-and-patio     2000,
 count    3.116000e+03
 mean     4.131980e+05
 std      4.456614e+05
 min      4.000000e+01
 25%      1.100000e+05
 50%      2.500000e+05
 75%      5.000000e+05
 max      2.600000e+06
 Name: price, dtype: float64,
                              product    price
 3191    building-and-garden__kitchen    11500
 23273   building-and-garden__kitchen  2000000
 30706   building-and-garden__kitchen    15000
 31614   building-and-garden__kitchen  2000000
 40334   building-and-garden__kitchen  2000000
 ...                              ...      ...
 917141  building-and-garden__kitchen  2000000
 924877  building-and-garden__kitchen      240
 933810  building-and-garden__kitchen    10000
 935892  building-and-garden__kitchen  2000000
 942961  building-and-garden__kitchen  2000000

 [97 rows x 2 columns],
 count    9.300000e+03
 mean     3.004173e+05
 std      3.216478e+05
 min      6.000000e+01
 25%      1.300000e+05
 50%      2.000000e+05
 75%      3.000000e+05
 max      2.100000e+06
 Name: price, dtype: float64,
                                        product    price
 667     building-and-garden__stove-and-heating  1700000
 1511    building-and-garden__stove-and-heating  1700000
 4641    building-and-garden__stove-and-heating  2000000
 5507    building-and-garden__stove-and-heating    10000
 7425    building-and-garden__stove-and-heating  1700000
 ...                                        ...      ...
 924039  building-and-garden__stove-and-heating  1700000
 924189  building-and-garden__stove-and-heating  1850000
 928528  building-and-garden__stove-and-heating      700
 938244  building-and-garden__stove-and-heating  1800000
 944912  building-and-garden__stove-and-heating  1800000

 [201 rows x 2 columns],
 count    6.255000e+03
 mean     7.657491e+07
 std      6.041088e+07
 min      1.000000e+00
 25%      3.000000e+07
 50%      6.000000e+07
 75%      1.050000e+08
 max      2.750000e+08
 Name: price, dtype: float64,
             product      price
 728     cars__heavy  260000000
 2139    cars__heavy       4000
 16093   cars__heavy         90
 39787   cars__heavy     140000
 45230   cars__heavy     200000
 ...             ...        ...
 897883  cars__heavy  255000000
 915259  cars__heavy     110000
 921034  cars__heavy  270000000
 935711  cars__heavy  256000000
 938859  cars__heavy      56000

 [126 rows x 2 columns],
 count    1.037990e+05
 mean     2.334332e+07
 std      2.637852e+07
 min      1.000000e+00
 25%      1.090000e+07
 50%      1.660000e+07
 75%      2.600000e+07
 max      4.000000e+08
 Name: price, dtype: float64,
             product      price
 166     cars__light      11500
 388     cars__light  166000000

dataset['price'] = dataset['price'].astype(int).round(-3)
dataset