In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from efficient_apriori import apriori

%matplotlib inline

In [2]:
#import dataset
dataset_raw = pd.read_csv("./divar_dataset/divar_posts_dataset.csv")

In [3]:
dataset_raw["platform"].value_counts()

mobile    874237
web        73398
Name: platform, dtype: int64

In [4]:
dataset = dataset_raw[["created_at","platform"]]
dataset.isna().sum()

created_at    0
platform      0
dtype: int64

# PART 3

In [5]:

dataset["created_at"] = dataset["created_at"].apply(lambda x: x[:-4] + x[-2:] +' '+ ("7-12"  if int(x[-4:-2]) > 6 else "1-6"))
dataset

<ipython-input-5-2190063e1fcc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["created_at"] = dataset["created_at"].apply(lambda x: x[:-4] + x[-2:] +' '+ ("7-12"  if int(x[-4:-2]) > 6 else "1-6"))

             created_at platform
0       Tuesday PM 7-12   mobile
1       Tuesday PM 7-12   mobile
2       Tuesday PM 7-12   mobile
3       Tuesday PM 7-12   mobile
4       Tuesday PM 7-12   mobile
...                 ...      ...
947630   Friday AM 7-12      web
947631    Friday PM 1-6   mobile
947632    Friday PM 1-6   mobile
947633    Friday PM 1-6   mobile
947634    Friday PM 1-6   mobile

[947635 rows x 2 columns]

In [6]:
dataset["created_at"].value_counts()

Friday PM 1-6        50502
Saturday PM 1-6      50412
Sunday PM 1-6        48388
Tuesday PM 1-6       46363
Wednesday PM 1-6     46357
Monday PM 1-6        46018
Thursday PM 1-6      44181
Saturday AM 7-12     40855
Sunday AM 7-12       38913
Thursday AM 7-12     38757
Saturday PM 7-12     38742
Wednesday AM 7-12    38286
Friday AM 7-12       38226
Tuesday AM 7-12      37760
Friday PM 7-12       37496
Monday AM 7-12       37251
Sunday PM 7-12       36224
Monday PM 7-12       36020
Tuesday PM 7-12      35369
Wednesday PM 7-12    35254
Thursday PM 7-12     33675
Saturday AM 1-6      14394
Sunday AM 1-6        13947
Wednesday AM 1-6     13844
Tuesday AM 1-6       13719
Thursday AM 1-6      13055
Monday AM 1-6        12977
Friday AM 1-6        10650
Name: created_at, dtype: int64

In [ ]:
transactions = list(dataset.itertuples(index=False, name=None))
transactions

In [8]:
itemsets, rules = apriori(transactions, min_support=0.035, min_confidence=0.4)

In [9]:
frequent_itemsets = dict(sorted(itemsets[2].items(), key=lambda item: item[0], reverse=True))
frequent_itemsets

{('Wednesday PM 1-6', 'mobile'): 43078,
 ('Wednesday AM 7-12', 'mobile'): 34761,
 ('Tuesday PM 1-6', 'mobile'): 43016,
 ('Tuesday AM 7-12', 'mobile'): 34227,
 ('Thursday PM 1-6', 'mobile'): 41119,
 ('Thursday AM 7-12', 'mobile'): 35392,
 ('Sunday PM 7-12', 'mobile'): 33686,
 ('Sunday PM 1-6', 'mobile'): 44767,
 ('Sunday AM 7-12', 'mobile'): 35141,
 ('Saturday PM 7-12', 'mobile'): 36078,
 ('Saturday PM 1-6', 'mobile'): 46557,
 ('Saturday AM 7-12', 'mobile'): 36729,
 ('Monday PM 7-12', 'mobile'): 33618,
 ('Monday PM 1-6', 'mobile'): 42628,
 ('Monday AM 7-12', 'mobile'): 33653,
 ('Friday PM 7-12', 'mobile'): 35126,
 ('Friday PM 1-6', 'mobile'): 47273,
 ('Friday AM 7-12', 'mobile'): 35636}

In [10]:
for rule in sorted(rules, key=lambda rule: rule.lift, reverse=True):
  print(rule)

{Friday PM 7-12} -> {mobile} (conf: 0.937, supp: 0.037, lift: 1.015, conv: 1.225)
{Friday PM 1-6} -> {mobile} (conf: 0.936, supp: 0.050, lift: 1.015, conv: 1.211)
{Monday PM 7-12} -> {mobile} (conf: 0.933, supp: 0.035, lift: 1.012, conv: 1.161)
{Friday AM 7-12} -> {mobile} (conf: 0.932, supp: 0.038, lift: 1.011, conv: 1.143)
{Saturday PM 7-12} -> {mobile} (conf: 0.931, supp: 0.038, lift: 1.009, conv: 1.126)
{Thursday PM 1-6} -> {mobile} (conf: 0.931, supp: 0.043, lift: 1.009, conv: 1.118)
{Sunday PM 7-12} -> {mobile} (conf: 0.930, supp: 0.036, lift: 1.008, conv: 1.105)
{Wednesday PM 1-6} -> {mobile} (conf: 0.929, supp: 0.045, lift: 1.007, conv: 1.095)
{Tuesday PM 1-6} -> {mobile} (conf: 0.928, supp: 0.045, lift: 1.006, conv: 1.073)
{Monday PM 1-6} -> {mobile} (conf: 0.926, supp: 0.045, lift: 1.004, conv: 1.051)
{Sunday PM 1-6} -> {mobile} (conf: 0.925, supp: 0.047, lift: 1.003, conv: 1.035)
{Saturday PM 1-6} -> {mobile} (conf: 0.924, supp: 0.049, lift: 1.001, conv: 1.013)
{Thursday AM 7-12} -> {mobile} (conf: 0.913, supp: 0.037, lift: 0.990, conv: 0.892)
{Wednesday AM 7-12} -> {mobile} (conf: 0.908, supp: 0.037, lift: 0.984, conv: 0.841)
{Tuesday AM 7-12} -> {mobile} (conf: 0.906, supp: 0.036, lift: 0.983, conv: 0.828)
{Monday AM 7-12} -> {mobile} (conf: 0.903, supp: 0.036, lift: 0.979, conv: 0.802)
{Sunday AM 7-12} -> {mobile} (conf: 0.903, supp: 0.037, lift: 0.979, conv: 0.799)
{Saturday AM 7-12} -> {mobile} (conf: 0.899, supp: 0.039, lift: 0.974, conv: 0.767)

# mobile and web count equal

In [11]:
platform_values_counts = dataset["platform"].value_counts()
print("platform_values_counts:\n"+str(platform_values_counts))
min_platform_count = platform_values_counts[-1]
print("min value count : "+str(min_platform_count))

platform_values_counts:
mobile    874237
web        73398
Name: platform, dtype: int64
min value count : 73398

In [ ]:
grouped = dataset.groupby("platform")
transactions = []
for name, group in grouped:
    transactions += group.sample(frac=1)[0:min_platform_count].values.tolist()
transactions

In [13]:
itemsets, rules = apriori(transactions, min_support=0.024, min_confidence=0.4)

In [14]:
frequent_itemsets = dict(sorted(itemsets[2].items(), key=lambda item: item[0], reverse=True))
frequent_itemsets

{('Wednesday PM 1-6', 'mobile'): 3556,
 ('Wednesday AM 7-12', 'web'): 3525,
 ('Tuesday PM 1-6', 'mobile'): 3591,
 ('Tuesday AM 7-12', 'web'): 3533,
 ('Sunday PM 1-6', 'web'): 3621,
 ('Sunday PM 1-6', 'mobile'): 3803,
 ('Sunday AM 7-12', 'web'): 3772,
 ('Saturday PM 1-6', 'web'): 3855,
 ('Saturday PM 1-6', 'mobile'): 3989,
 ('Saturday AM 7-12', 'web'): 4126,
 ('Monday PM 1-6', 'mobile'): 3715,
 ('Monday AM 7-12', 'web'): 3598,
 ('Friday PM 1-6', 'mobile'): 4003}

In [15]:
frequent_itemsets = dict(sorted(frequent_itemsets.items(), key=lambda item: item[1], reverse=True))
frequent_itemsets

{('Saturday AM 7-12', 'web'): 4126,
 ('Friday PM 1-6', 'mobile'): 4003,
 ('Saturday PM 1-6', 'mobile'): 3989,
 ('Saturday PM 1-6', 'web'): 3855,
 ('Sunday PM 1-6', 'mobile'): 3803,
 ('Sunday AM 7-12', 'web'): 3772,
 ('Monday PM 1-6', 'mobile'): 3715,
 ('Sunday PM 1-6', 'web'): 3621,
 ('Monday AM 7-12', 'web'): 3598,
 ('Tuesday PM 1-6', 'mobile'): 3591,
 ('Wednesday PM 1-6', 'mobile'): 3556,
 ('Tuesday AM 7-12', 'web'): 3533,
 ('Wednesday AM 7-12', 'web'): 3525}

In [16]:
for rule in sorted(rules, key=lambda rule: rule.lift, reverse=True):
  print(rule)

{Saturday AM 7-12} -> {web} (conf: 0.573, supp: 0.028, lift: 1.147, conv: 1.172)
{Monday AM 7-12} -> {web} (conf: 0.562, supp: 0.025, lift: 1.124, conv: 1.141)
{Sunday AM 7-12} -> {web} (conf: 0.559, supp: 0.026, lift: 1.119, conv: 1.135)
{Tuesday AM 7-12} -> {web} (conf: 0.555, supp: 0.024, lift: 1.109, conv: 1.123)
{Friday PM 1-6} -> {mobile} (conf: 0.554, supp: 0.027, lift: 1.107, conv: 1.120)
{Wednesday AM 7-12} -> {web} (conf: 0.542, supp: 0.024, lift: 1.085, conv: 1.092)
{Monday PM 1-6} -> {mobile} (conf: 0.523, supp: 0.025, lift: 1.046, conv: 1.048)
{Wednesday PM 1-6} -> {mobile} (conf: 0.520, supp: 0.024, lift: 1.041, conv: 1.042)
{Tuesday PM 1-6} -> {mobile} (conf: 0.518, supp: 0.024, lift: 1.035, conv: 1.036)
{Sunday PM 1-6} -> {mobile} (conf: 0.512, supp: 0.026, lift: 1.025, conv: 1.025)
{Saturday PM 1-6} -> {mobile} (conf: 0.509, supp: 0.027, lift: 1.017, conv: 1.017)
{Saturday PM 1-6} -> {web} (conf: 0.491, supp: 0.026, lift: 0.983, conv: 0.983)
{Sunday PM 1-6} -> {web} (conf: 0.488, supp: 0.025, lift: 0.975, conv: 0.976)